<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Simple Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
</head>
<body>
  <div class="container">
    <div class="menu">
      <div class="menu-items">
        <a href="#">Main</a>
        <a href="#">Search</a>
        <a href="#" class="logout-button">Logout</a>
      </div>
    </div>
    <div class="content">
      <div class="title">
        <h1>Title</h1>
        <div class="title-underline"></div>
      </div>
      <div class="main-content">
        <p>Contents</p>
      </div>
      <div class="footer">
        <div class="footer-underline"></div>
        <p>Footer</p>
      </div>
    </div>
  </div>
</body>
</html>