<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    </head>
    <body>
        <div id="LoginArea">
            <form  name="Login" method="POST">
                <table class="login">
                    <tr>
                        ID:<br>
                        <input class="input" type="text" name="ID"/>
                        <br>
                    </tr>
                    <tr>
                        PASSWORD:<br>
                        <input class="input" type="PASSWORD" name="PASSWORD"/>
                        <br>
                    </tr>
                    <tr>
                        <input type="submit" value="Login"/>
                    <tr>
                </table>
            </form>
        </div>


    </body>
</html>