/* dashboard.css */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
  }
  
  .container {
    display: grid;
    grid-template-columns: 1fr 7fr;
    grid-gap: 20px;
    min-height: 100vh;
  }
  

  #testCaseArea, #bugCaseArea {
    width: calc(50% - 20px); /* 전체 너비의 50%에서 좌우 마진 20px을 제외 */
    float: left; /* 두 div를 좌우에 배치 */
    margin-left: 10px;
    margin-right: 10px;
  }
  #caseSummary {
    margin-top: 20px;
  }
  
  .logout-button {
    background-color: #3498db;
    color: white;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 50px; /* 수정된 부분 */
  }
  
  .content {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-gap: 10px;
    padding: 20px;
  }

  .tableTitle {
    font-weight: 700;  /* h2 급 굵기 */
    display: flex;
    justify-content: space-between;
}

  .viewAll {
      text-align: right; /* 오른쪽 끝에 붙게 */
  }

  #DashBoardUnderLine {
    border-bottom: 4px solid #3498db;
    box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.2);
  }

  .hiddenCheckbox {
    position: absolute;
    opacity: 0;
    z-index: -1;
}
  